html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
  }

.bg1{
    background-color: aqua;    
}

.bg2{
    background-color: blue;
    
}

main{
    flex: 1;
    padding: 10px;
}

.grupos{
    background-color: rgb(233, 27, 27);
    height: 100%;
}

.tarjeta-grupo{
   background-color:black; 
}
.nuevo-grupo{
    height: 100%;
}



.img-grupo{
    height: 100px;
    width: 100px;
    margin: auto;
}


footer{
    height: 60px;
    background-color: grey;
}
